# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.env
.env
.env.*

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.packages

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/

# iOS / macOS build artifacts
*.a
*.a[0-9]*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint
xcuserdata/
DerivedData/
*.moved-aside
*.xcuserstate

# Pods (handled by ios/macos gitignores normally, but safe here)
/ios/Pods/
/macos/Pods/

# Crashlytics / Firebase
crashlytics-build.properties
